.page {
  background: #0f0f0f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  --dz: calc(sqrt(var(--dy) * var(--dy) + var(--dx) * var(--dx)));
  --rotate-angle: atan2(var(--dy), var(--dx));

  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(var(--rotate-angle));

  opacity: progress(var(--dz), 0, 100);
}